#Gitignore
# token and keys
token
# origional bash files
BashPipelineScripts/
# Data
Data/
#ignore snakemakefiles
**/.snakemake
# ignore virtual enviroment
venv/
# ignore temporary output of the workflow
TempFiles/
# Ignore IDEA
.idea/
# Ignore freebayes
freebayes/